@theme {
  --color-background-brand: #0069f1;
  --color-background-brand-subtle: #e7f3ff;
  --color-background-danger: #d82938;
  --color-background-danger-subtle: #ffedec;
  --color-background-invert-primary: #141c22;
  --color-background-invert-secondary: #262f37;
  --color-background-invert-secondary-cool: #262f37;
  --color-background-invert-secondary-neutral: #2e2e2e;
  --color-background-invert-secondary-warm: #262f37;
  --color-background-invert-tertiary: #384550;
  --color-background-invert-tertiary-cool: #384550;
  --color-background-invert-tertiary-neutral: #444444;
  --color-background-invert-tertiary-warm: #384550;
  --color-background-invert-translucent: #0000004d;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f4f8fb;
  --color-background-secondary-cool: #f4f8fb;
  --color-background-secondary-neutral: #f7f7f7;
  --color-background-secondary-warm: #faf9f7;
  --color-background-success: #008246;
  --color-background-success-subtle: #e8f5ec;
  --color-background-tertiary: #ecf2f7;
  --color-background-tertiary-cool: #ecf2f7;
  --color-background-tertiary-neutral: #f2f2f2;
  --color-background-tertiary-warm: #f5f2ef;
  --color-background-transparent: #ffffff00;
  --color-background-upsell: #6e5be6;
  --color-background-upsell-subtle: #f0f0ff;
  --color-background-warning: #ab5d00;
  --color-background-warning-subtle: #fff0da;
  --color-dataviz-neutral: #cfd8df;
  --color-dataviz-purple-strong: #6e5be6;
  --color-dataviz-purple-subtle: #9f97ff;
  --color-shadows-s10: #0000001a;
  --color-shadows-s15: #00000026;
  --color-shadows-s20: #00000033;
  --color-shadows-s3: #00000008;
  --color-shadows-s5: #0000000d;
  --color-shadows-s6: #0000000f;
  --color-shadows-s8: #00000014;
  --color-states-disabled: #ffffff66;
  --color-states-hover: #141c221a;
  --color-states-pressed: #141c2233;
  --color-stroke-avatar: #00000033;
  --color-stroke-brand: #0069f1;
  --color-stroke-error: #d82938;
  --color-stroke-invert: #ffffff;
  --color-stroke-primary: #141c22;
  --color-stroke-primary-a50: #141c2280;
  --color-stroke-secondary: #384550;
  --color-stroke-secondary-a50: #38455080;
  --color-stroke-success: #008246;
  --color-stroke-tertiary: #66727d;
  --color-stroke-tertiary-a50: #66727d80;
  --color-stroke-upsell: #6e5be6;
  --color-stroke-warning: #ab5d00;
  --color-text-and-icons-always-white: #ffffff;
  --color-text-and-icons-always-white-a50: #ffffff80;
  --color-text-and-icons-brand: #0069f1;
  --color-text-and-icons-brand-a50: #0069f180;
  --color-text-and-icons-brand-on-invert: #59a6ff;
  --color-text-and-icons-brand-on-subtle: #0051cb;
  --color-text-and-icons-danger: #d82938;
  --color-text-and-icons-danger-a50: #d8293880;
  --color-text-and-icons-danger-on-invert: #f4827e;
  --color-text-and-icons-danger-on-subtle: #ae1f2c;
  --color-text-and-icons-invert-primary: #ffffff;
  --color-text-and-icons-invert-primary-50: #ffffff80;
  --color-text-and-icons-primary: #141c22;
  --color-text-and-icons-primary-a50: #141c2280;
  --color-text-and-icons-secondary: #384550;
  --color-text-and-icons-secondary-a50: #38455080;
  --color-text-and-icons-success: #008246;
  --color-text-and-icons-success-on-invert: #53b57c;
  --color-text-and-icons-success-on-subtle: #006834;
  --color-text-and-icons-tertiary: #66727d;
  --color-text-and-icons-tertiary-a50: #66727d80;
  --color-text-and-icons-upsell: #6e5be6;
  --color-text-and-icons-upsell-on-subtle: #5845c2;
  --color-text-and-icons-warning: #ab5d00;
  --color-text-and-icons-warning-on-invert: #ee8b00;
  --color-text-and-icons-warning-on-subtle: #9f3804;
}

[data-theme='dark'] {
  --color-background-brand: #2988ff;
  --color-background-brand-subtle: #002774;
  --color-background-danger: #eb5859;
  --color-background-danger-subtle: #5e0c13;
  --color-background-invert-primary: #ffffff;
  --color-background-invert-secondary: #ecf2f7;
  --color-background-invert-secondary-cool: #ecf2f7;
  --color-background-invert-secondary-neutral: #f2f2f2;
  --color-background-invert-secondary-warm: #f5f2ef;
  --color-background-invert-tertiary: #cfd8df;
  --color-background-invert-tertiary-cool: #cfd8df;
  --color-background-invert-tertiary-neutral: #d6d6d6;
  --color-background-invert-tertiary-warm: #ded6c9;
  --color-background-invert-translucent: #ffffff4d;
  --color-background-primary: #141c22;
  --color-background-secondary: #262f37;
  --color-background-secondary-cool: #262f37;
  --color-background-secondary-neutral: #2e2e2e;
  --color-background-secondary-warm: #332d26;
  --color-background-success: #209d5e;
  --color-background-success-subtle: #003616;
  --color-background-tertiary: #384550;
  --color-background-tertiary-cool: #384550;
  --color-background-tertiary-neutral: #444444;
  --color-background-tertiary-warm: #4a4339;
  --color-background-transparent: #00000000;
  --color-background-upsell: #8577ff;
  --color-background-upsell-subtle: #2e1f6f;
  --color-background-warning: #cd7400;
  --color-background-warning-subtle: #4a2400;
  --color-dataviz-neutral: #66727d;
  --color-dataviz-purple-strong: #8577ff;
  --color-dataviz-purple-subtle: #b7b5ff;
  --color-shadows-s10: #ffffff1a;
  --color-shadows-s15: #ffffff26;
  --color-shadows-s20: #ffffff33;
  --color-shadows-s3: #ffffff08;
  --color-shadows-s5: #ffffff0d;
  --color-shadows-s6: #ffffff0f;
  --color-shadows-s8: #ffffff14;
  --color-states-disabled: #00000066;
  --color-states-hover: #ffffff1a;
  --color-states-pressed: #ffffff33;
  --color-stroke-avatar: #00000000;
  --color-stroke-brand: #2988ff;
  --color-stroke-error: #eb5859;
  --color-stroke-invert: #141c22;
  --color-stroke-primary: #ecf2f7;
  --color-stroke-primary-a50: #ecf2f780;
  --color-stroke-secondary: #b2bdc5;
  --color-stroke-secondary-a50: #b2bdc580;
  --color-stroke-success: #209d5e;
  --color-stroke-tertiary: #99a5ae;
  --color-stroke-tertiary-a50: #99a5ae80;
  --color-stroke-upsell: #8577ff;
  --color-stroke-warning: #cd7400;
  --color-text-and-icons-always-white: #ffffff;
  --color-text-and-icons-always-white-a50: #ffffff80;
  --color-text-and-icons-brand: #2988ff;
  --color-text-and-icons-brand-a50: #2988ff80;
  --color-text-and-icons-brand-on-invert: #0051cb;
  --color-text-and-icons-brand-on-subtle: #59a6ff;
  --color-text-and-icons-danger: #eb5859;
  --color-text-and-icons-danger-a50: #eb585980;
  --color-text-and-icons-danger-on-invert: #ae1f2c;
  --color-text-and-icons-danger-on-subtle: #f4827e;
  --color-text-and-icons-invert-primary: #141c22;
  --color-text-and-icons-invert-primary-50: #141c2280;
  --color-text-and-icons-primary: #ecf2f7;
  --color-text-and-icons-primary-a50: #ecf2f780;
  --color-text-and-icons-secondary: #b2bdc5;
  --color-text-and-icons-secondary-a50: #b2bdc580;
  --color-text-and-icons-success: #209d5e;
  --color-text-and-icons-success-on-invert: #006834;
  --color-text-and-icons-success-on-subtle: #53b57c;
  --color-text-and-icons-tertiary: #99a5ae;
  --color-text-and-icons-tertiary-a50: #99a5ae80;
  --color-text-and-icons-upsell: #8577ff;
  --color-text-and-icons-upsell-on-subtle: #9f97ff;
  --color-text-and-icons-warning: #cd7400;
  --color-text-and-icons-warning-on-invert: #8a4900;
  --color-text-and-icons-warning-on-subtle: #ee8b00;
}
